# 01 数値を使う

## テンパズルを解いてみよう

- 下のセルの数字の間に演算子や括弧を入れて、計算結果が10になるようにしてみよう。
- セルはコピー＆ペーストできます。なるべくたくさんの解を見つけてみましょう。

In [ ]:
## 演算子を書き加えてください ##

5 5 1 9

In [ ]:
## 演算子を書き加えてください ##

5 5 1 9

In [ ]:
## 演算子を書き加えてください ##

5 5 1 9

# 02 変数を使う

## GPAの計算をしてみよう

- ある学生の成績が以下の通りだったとします。

|評語|その評語を取った科目数|
|:--:|:--:|
|S|38|
|A|48|
|B|34|
|C|5|
|D|10|

- この学生のGPAを計算してみよう。
  - GPAの計算方法は [SFC Guide 2017 Vol.2 p.45](http://www.gakuji.keio.ac.jp/sfc/pe/sfcguide.html) に掲載されています。
- 計算する際に、数値はすべて変数に代入し、数値どうしを演算子で計算しないような書き方にしてください。
  - ○　`a * b`
  - ×　`6 * 7`

In [ ]:
# 解答欄

## 変数名のつけ方

- 次の文字列を、変数名として使えるものと使えないものに分類してみよう
  - 確かめ方：セルにコピペして `abc = 1` のような文を実行してみてエラーが出ないようなら、変数名として使えるということです。

1. `abc`
1. `123`
1. `abc123`
1. `123abc`
1. `abc_123`
1. `123_abc`
1. `_abc123`
1. `_123abc`
1. `abc123_`
1. `123abc_`
1. `__abc123`
1. `__123abc`

In [ ]:
# アヤシイものが、変数名として使えるか確かめてみましょう。

# 03 文字列を使う

## 文字列の連結

- 下のセルの文字列を連結して、文字列 "Shonan Fujisawa Campus" を出力するように、セルの末尾に１行だけ書き足しなさい。

In [ ]:
S = "Shonan"
F = "Fujisawa"
C = "Campus"

## ここにコードを書き加えてください ##

## 複合演算子

- 下のセルの末尾に数行書き足して、文字列 "Shonan Fujisawa Campus" を出力するようにしなさい。ただし、**使用できる演算子は複合演算子だけ**とします。

In [ ]:
SF = "Shonan Fujisawa"
C = "Campus"

## ここにコードを書き加えてください ##

- 下のセルの末尾に数行書き足して、２の８乗（2<sup>8</sup>）を計算しなさい。ただし、**使用できる演算子は複合演算子だけ**とします。

In [ ]:
x = 2

## ここにコードを書き加えてください ##

## 型変換

- 次のセルにコードを書き足して、123 × 456 を計算しなさい。ただし、セルに新たに数値を書き込まずに完成させてください。

In [ ]:
a = "123"
b = "456"

## ここにコードを書き加えてください ##

- 次のセルにコードを書き足して、123 ÷ 456 を計算しなさい（小数点以下の商が得られるように計算すること）。ただし、セルに新たに数値を書き込まずに完成させてください。

In [ ]:
a = "123"
b = "456"

## ここにコードを書き加えてください ##

- 次のセルのコードは、`"3 days = 72 hours"` という出力を得たいのですが、エラーが発生しています。コードを修正して正しい結果が得られるようにしてください。

In [1]:
days = 3
hours_per_day = 24
hours = days * hours_per_day

days + " days = " + hours + " hours"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 04 リストを使う

- 下のセルで定義したリスト `fujisawa_temps` は、藤沢市の月別の平均気温を１月から12月の順に格納したものです。
- 教科書にならって、藤沢市の月別の平均気温をグラフに描画してみましょう。

In [ ]:
fujisawa_temps = [5.0, 5.3, 8.4, 13.5, 17.9, 21.1, 25.0, 26.5, 22.7, 17.2, 12.3, 7.6]

%matplotlib inline
import matplotlib.pyplot as plt

## ここにコードを書き加えてください ##

## インデックスを指定して要素を取り出す

- リスト `fujisawa_temps` の要素を取りだして、最も暑い８月の平均気温と最も寒い１月の平均気温の差を計算してください。
  - 正解は 21.5 ℃ です。

In [ ]:
# 解答欄

## 要素の置き換え

- 下のリスト `deans` の要素を置き換えて `["Kawazoe", "Hamada", "Murai"]` にしましょう。

In [ ]:
deans = ["Kawazoe", "Murai", "Kiyoshi"]

## ここにコードを書き加えてください ##

## 要素の削除

- 下のリスト `bills` の要素は、日本の紙幣の額面です。このリストから、現在使われていない額面の要素を削除しましょう。

In [ ]:
bills = ["100yen", "500yen", "1000yen", "2000yen", "5000yen", "10000yen"]

## ここにコードを書き加えてください ##

## スライスを利用して複数の要素を取り出す

- 下のリスト `bills` の要素は、日本の紙幣の額面です。このリストから、現在使われている額面の要素だけを含むリストを、 `bills` のスライスとして取り出しましょう。

In [ ]:
bills = ["100yen", "500yen", "1000yen", "2000yen", "5000yen", "10000yen"]

## ここにコードを書き加えてください ##

## リストのリスト　—　二次元配列

- 下の表は、藤沢市の月別の平均気温と降水量です。

||1月|2月|3月|4月|5月|6月|7月|8月|9月|10月|11月|12月|
|:-:|-:|-:|-:|-:|-:|-:|-:|-:|-:|-:|-:|-:|
|平均温度|5.0|5.3|8.4|13.5|17.9|21.1|25.0|26.5|22.7|17.2|12.3|7.6|
|降水量|55.0|65.0|111.0|137.0|159.0|210.0|153.0|153.0|200.0|180.0|98.0|58.0|

- 下のセルに、これを二次元配列として表した `fujisawa_temps_and_rainfalls` を定義します。

In [ ]:
fujisawa_temps_and_rainfalls = [
    [5.0, 5.3, 8.4, 13.5, 17.9, 21.1, 25.0, 26.5, 22.7, 17.2, 12.3, 7.6],
    [55.0, 65.0, 111.0, 137.0, 159.0, 210.0, 153.0, 153.0, 200.0, 180.0, 98.0, 58.0]
]

- `fujisawa_temps_and_rainfalls` から月別降水量のリストを取り出してみましょう。

In [ ]:
# 解答欄

- `fujisawa_temps_and_rainfalls` の要素を取りだして、最も雨の多い６月と最も雨の少ない１月の降水量の差を計算してください。

In [ ]:
# 解答欄

- 下のセルで定義した `miamibeach_temps_and_rainfalls` は、マイアミビーチ市（藤沢市の姉妹都市）の月別平均気温と降水量の二次元配列です。

In [ ]:
miamibeach_temps_and_rainfalls = [
    [19.8, 20.2, 21.8, 23.6, 25.5, 27.2, 28, 28.1, 27.6, 25.7, 23.2, 20.7],
    [56.0, 57.0, 52.0, 63.0, 147.0, 191.0, 110.0, 130.0, 172.0, 137.0, 74.0, 45.0]
]

- 藤沢市とマイアミビーチ市の平均気温を比較するグラフを描いてみましょう。

In [ ]:
# 解答欄

- 藤沢市とマイアミビーチ市の降水量を比較するグラフを描いてみましょう。

In [ ]:
# 解答欄

## リストの合計、最大値、最小値

- 藤沢市の年間降水量を `sum()` を用いて計算してみましょう。

In [ ]:
# 解答欄

- 藤沢市の月別平均気温から、最大値と最小値を出力してみましょう。

In [ ]:
# 最大値

In [ ]:
# 最小値

## リストの長さを調べる

- 下のリスト `kanagawa_rainfalls_recent30days` は、[気象庁が提供する期間合計降水量一覧](http://www.data.jma.go.jp/obd/stats/data/mdrr/tenkou/alltable/pre00.html#a46) から、神奈川県内の地域気象観測所の2017年９月２日〜10月１日の降水量データです。
- リストの全要素の平均値を求めましょう。

In [ ]:
kanagawa_rainfalls_recent30days = [177.5, 217.5, 236.5, 232.5, 257.5, 312.5, 224.5, 206.5, 395.5, 263.5, 388.0]

In [ ]:
# 解答欄

# 05 for文でループを使う

- リスト `kanagawa_rainfalls_recent30days` から、神奈川県内の地域気象観測所の2017年９月２日〜10月１日の降水量の分散を求めてみましょう。

In [ ]:
# 解答欄

- 標準偏差を計算してみましょう。

In [ ]:
# 解答欄

## `range()` 関数

- `range()` 関数を利用して、1から100までの整数の合計を計算してみましょう。

In [ ]:
# 解答欄

- ある微生物が、１時間に10％個体数が増加するとします。
- 現在、その微生物は１万個体いるとします。
- `range()` 関数を利用して、この微生物の１週間後の個体数を計算してみましょう。

In [ ]:
number_of_bacteria = 10000

## ここにコードを書き加えてください ##

# 06 `if`文で条件分岐をする

## 数値を比較する

- 藤沢市の年間降水量が 1200 mm 以上なら ">= 1200 mm" と出力する `if`文を書いてください。

In [ ]:
if ## ここにコードを書き加えてください ## :
    print(">= 1200 mm")

## リストの要素を検索する

- 下のセルで定義したリスト `amino_acids_in_codon` は、生命の遺伝暗号にコードされているアミノ酸を要素としています。
-　文字列 `"Asp"` がこのリストに含まれている場合に `"Asp is found in the codon table."` と出力する `if`文を書いてください。

In [ ]:
amino_acids_in_codon = [
    "Ala","Arg","Ans","Asp","Cys","Gln","Glu","Gly","His","Ile",
    "Leu","Lys","Met","Phe","Pro","Ser","Thr","Trp","Tyr","Val"
]

In [ ]:
if ## ここにコードを書き加えてください ## :
    print("Asp is found in the codon table.")

## `else`文を使う

- 藤沢市の年間降水量が 1200 mm 以上なら ">= 1200 mm" 、そうでなければ "< 1200 mm" と出力する if文を書いてください。

In [ ]:
# 解答欄

## `else`文を使う

- 藤沢市の年間降水量が 2000 mm 以上なら ">= 2000 mm" 、1000 mm 以上 2000 mm 未満なら "< 2000 mm, >= 1000 mm" 、1000 mm 未満であれば "< 1000 mm" と出力する if文を書いてください。

In [ ]:
# 解答欄

# 07 関数を使う

## 関数の引数、戻り値

- `pow()`関数は、２つの**引数**をとります。 `pow(a,b)` の**戻り値**は、`a` の `b` 乗（a<sup>b</sup>）です。
- `pow()`関数および `for`文を使って、２の０乗から10乗までの計算結果を順に出力するコードを書いてみましょう。

In [ ]:
# 解答欄

## 関数を定義する

- 以下のような引数と戻り値を持つ関数 `temps_stat()` を作ってみましょう。
  - **引数**：月別平均気温のリスト
  - **戻り値**：年間平均気温、月別平均気温の最大値、月別平均気温の最小値の３つの要素からなるリスト

In [ ]:
# 解答欄

- 作った関数 ` temps_stat()` を使って、マイアミビーチ市の年間平均気温、月別平均気温の最大値、月別平均気温の最小値（のリスト）を求めてみましょう。

In [ ]:
# 解答欄

# 08 モジュールを使う

## モジュールをインポート（`import`）する

- `random`モジュールを使って、サイコロ（１〜６の整数の乱数発生器）を10000回振ったときの出た目の平均値を求めてみましょう。
- 「みんなのPython第４版」p.108のサンプルコード内のコメントは誤っているので注意してください。
  - `random,randint(0, 6)` とした場合、「0 **＜** x ≦ 6 の乱数」ではなく「0 **≦** x ≦ 6 の乱数」を得ます。
    - （中級者以上向け）`numpy.random.randint(0, 6)` は、「0 **≦** x **＜** 6 の乱数」を返します。同じ名前の関数で引数の定義が異なるで注意しましょう。

In [2]:
import random

# 1 ≦ x ≦ 6 の乱数を得る
print(random.randint(1, 6))

1

In [ ]:
# 解答欄

## `import`文の`as`

- 上のサイコロの出た目の平均を算出するプログラムを、`random`モジュールを`rd`という名前でインポートして書いてみましょう。

In [ ]:
# 解答欄

## `from`を使ったインポート

- `math`というモジュールには数学関連の機能が数多く実装されています。その中に、円周率πもあり、`math.pi`で呼び出せます。
- `from`を用いて、単純に「`pi`」だけで円周率πを使えるようにしましょう。下のセルのコードの**上方**に必要な行を書き加えて、半径10の円の面積を求める、エラーのないコードに仕上げてください。

In [3]:
## ここにコードを書き加えてください ##

# 半径 r
r = 10.0

# 半径 r の円の面積
pi * (r ** 2.0)

NameError: name 'pi' is not defined